[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=true
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=11
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=0

[Containments][1][Applets][2][Configuration][General]
launchers59=applications:firefox.desktop,applications:telegramdesktop.desktop,applications:org.kde.okular.desktop,applications:thunar.desktop,applications:gimp.desktop,applications:inkscape.desktop,applications:libreoffice-startcenter.desktop,applications:texstudio.desktop,file:///home/kerim/.bin/st?iconData=iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAABP-AAAT_gEHlDmEAAABM0lEQVRoge2YMW6DMBSGf6Nk7tAEgYTUY3XgCJ1YcwmmHoEhh_BhIiFBaDp0tmR3QkqxRYwIeTh93_iwrf-TbR4CYJj_jRgW2rZ9F0J8AnglyDPGtzHmI0mS43XREmia5ktrvTPGPC6aB0IIRFF0SdN0f12PhgPXGB4AjDHQWu-GdUtgjeF7XNksgdBgAWpYgBoWoIYFqNnMmZzn-b1yWFRV5TUu-B1gAWqCF5h1iV2UZTn6vCiKyXPGuLtAHMcPmdMT_BFiAWq878CSXXcOwe8AC1ATvID1a7Gua-efra7rvBa81ZRc60xpZFmW_cns_Raa0y2XWKcn-CPEAtSwADUsQM3zCSilzhRBfHBlswSklIc1SiilzlLKw7BufQsBeAHwBmC7eKppKAAnAD_UQZin4hfCqFH512zcVQAAAABJRU5ErkJggg%3D%3D,applications:systemsettings.desktop,applications:thunderbird.desktop

[Containments][1][ConfigDialog]
DialogHeight=885
DialogWidth=629

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=false
appletOrder=2
iconSize=56
maxLength=76
mouseWheelActions=false
panelShadows=false
panelSize=100
panelTransparency=15
shadowOpacity=50
shadowSize=50
showGlow=false
showOnlyCurrentActivity=false
showOnlyCurrentDesktop=true
splitterPosition=1
splitterPosition2=2
titleTooltips=false
zoomLevel=8

[Containments][1][Indicator]
customType=org.kde.latte.dashtopanel
enabled=true
enabledForApplets=true
padding=0.10000000149011612
type=org.kde.latte.default

[Containments][1][Indicator][org.kde.latte.default][General]
glowOpacity=0.4
minimizedTaskColoredDifferently=true

[Containments][72]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=11
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=0
timerHide=700
timerShow=0
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][72][Applets][75]
immutability=1
plugin=org.kde.plasma.appmenu

[Containments][72][Applets][75][Configuration]
PreloadWeight=0

[Containments][72][Applets][75][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][72][Applets][77]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][72][Applets][77][Configuration]
PreloadWeight=28
SystrayContainmentId=78

[Containments][72][Applets][89]
immutability=1
plugin=org.kde.plasma.kicker

[Containments][72][Applets][89][Configuration]
PreloadWeight=0

[Containments][72][Applets][89][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][72][Applets][89][Configuration][General]
favoritesPortedToKAstats=true

[Containments][72][Applets][91]
immutability=1
plugin=org.kde.plasma.pager

[Containments][72][Applets][91][Configuration]
PreloadWeight=0

[Containments][72][Applets][91][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][72][Applets][96]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][72][Applets][96][Configuration]
PreloadWeight=0

[Containments][72][ConfigDialog]
DialogHeight=756
DialogWidth=629

[Containments][72][Configuration]
PreloadWeight=0

[Containments][72][General]
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
appletOrder=89;75;91;77;96
dragActiveWindowEnabled=true
iconSize=30
inConfigureAppletsMode=true
lengthExtMargin=10
panelPosition=10
panelSize=100
plasmaBackgroundForPopups=true
shadowOpacity=20
shadowSize=35
shadows=None
splitterPosition=2
splitterPosition2=3
thickMargin=0
titleTooltips=false
zoomLevel=0

[Containments][72][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][78]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=11
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][78][Applets][79]
immutability=1
plugin=org.kde.plasma.volume

[Containments][78][Applets][79][Configuration]
PreloadWeight=0

[Containments][78][Applets][80]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][78][Applets][80][Configuration]
PreloadWeight=0

[Containments][78][Applets][81]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][78][Applets][81][Configuration]
PreloadWeight=0

[Containments][78][Applets][82]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][78][Applets][82][Configuration]
PreloadWeight=0

[Containments][78][Applets][82][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][78][Applets][82][Configuration][General]
key=

[Containments][78][Applets][83]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][78][Applets][83][Configuration]
PreloadWeight=0

[Containments][78][Applets][84]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][78][Applets][84][Configuration]
PreloadWeight=0

[Containments][78][Applets][85]
immutability=1
plugin=org.kde.plasma.vault

[Containments][78][Applets][85][Configuration]
PreloadWeight=0

[Containments][78][Applets][87]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][78][Applets][87][Configuration]
PreloadWeight=0

[Containments][78][Applets][93]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][78][Applets][93][Configuration]
PreloadWeight=0

[Containments][78][General]
extraItems=org.kde.plasma.clipboard,org.kde.plasma.battery,org.kde.plasma.nightcolorcontrol,org.kde.plasma.notifications,org.kde.plasma.keyboardindicator,org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.vault,org.kde.plasma.bluetooth,org.kde.plasma.volume,org.kde.plasma.mediacontroller
knownItems=org.kde.plasma.clipboard,org.kde.plasma.battery,org.kde.plasma.nightcolorcontrol,org.kde.plasma.notifications,org.kde.plasma.keyboardindicator,org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.vault,org.kde.plasma.bluetooth,org.kde.plasma.volume,org.kde.plasma.mediacontroller

[LayoutSettings]
background=
color=blue
lastUsedActivity=20914e98-6a96-407d-aa1e-261716b529a0
launchers=
preferredForShortcutsTouched=true
showInMenu=true
textColor=fcfcfc
version=2
